@import "variables.module";
@import "mixins.module";

//A tag with animated effect
.animLink {
  position: relative;
  color: $text-link;
  font-size: inherit;
  text-decoration: none;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    height: 0.12em;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $text-white;
    transform-origin: left;
    transition: transform 300ms;
  }

  &:hover::after,
  :focus::after {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms;
  }
}

.pseudoTopBorder {
  @include pseudo(before) {
    height: 0.25em;
    width: 100%;
    background-color: #fff;
    transform: scaleX(0);
  }
}

.animPseudoTopBorder {
  @include pseudo(before) {
    height: 0.25em;
    width: 100%;
    background-color: #fff;
    transform: scaleX(0);
    @include scale-anim($scale: 0.9);
  }
}
