@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&family=Numans&family=Roboto&display=swap");

// Card colors
$card-bg: #dcdada;
$img-bg: #bcbcbc;
//Font colors
$text-primary: #0000;
$text-secondary: #414141;
$text-white: #dcdada;
//Font stack
$header-font: "Roboto", sans-serif;
$subtext-font: "Assistant", sans-serif;
$paragraph-font: "Numans", sans-serif;
