@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&family=Numans&family=Roboto&display=swap");

//Document colors
$bg-primary: #292929;
$bg-secondary: #303030;
$contrast-blue: #2f8dda;
$contrast-red: #ff4960;
$contrast-yellow: #e1bc29;
$bg-lavender: #dbdaea;
$bg-cyan: #dbfcff;
// Card colors
$card-bg: #dcdada;
$img-bg: #bcbcbc;
//Font colors
$text-primary: #0000;
$text-secondary: #414141;
$text-white: #dcdada;
$text-link: #c9f9ff;
//Font stack
$header-font: "Roboto", sans-serif;
$subtext-font: "Assistant", sans-serif;
$paragraph-font: "Numans", sans-serif;
//Font sizes
$header-med: 2.3em;
//Font spacings
$header-spacing: -0.06rem;
//Media query mixins
@mixin media-sm {
  @media screen and (max-width: 440px) {
    @content;
  }
}
@mixin media-md {
  @media screen and (max-width: 800px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1025px) {
    @content;
  }
}
