@import "utilities/variables.module";
@import "utilities/mixins.module";

.container {
  display: grid;
  justify-content: center;
  justify-items: left;
  align-content: center;
  max-width: 30rem;
  margin: 0 auto;
  margin-left: 1.5rem;
  margin-bottom: 3rem;
  padding: 0;
  background-color: $bg-primary;
  overflow: hidden;

  @include tablet-screens {
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 3rem;
    max-width: 40rem;

    &:nth-child(even) {
      justify-items: center;
    }
  }

  @include desktop-screens {
    grid-template-columns: repeat(3, 28rem);
    grid-column-gap: 5rem;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 10rem;
    justify-items: center;

    &:nth-child(even) {
      justify-items: left;
    }
  }
}

.asideContainer {
  margin-bottom: 2rem;
  &:nth-of-type(1) {
    h2 {
      &::after {
        background-color: $contrast-blue;
      }
    }
  }

  &:nth-of-type(2) {
    h2 {
      &::after {
        background-color: $contrast-red;
      }
    }
    
  }

  &:nth-of-type(3) {
    h2 {
      &::after {
        background-color: $contrast-yellow;
      }
    }
    
  }
}

.aboutHeader {
  position: relative;
  padding: 0;
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  text-align: left;
  font-family: $subtext-font;
  color: $text-white;
  font-size: 1.5rem;
  max-width: max-content;
  text-transform: uppercase;
  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    height: 0.3em;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;

    @include tablet-screens {
      height: 0.4em;
      width: 100%;
    }
    @include desktop-screens {
      height: 0.3em;
      width: 100%;
    }
  }

  @include tablet-screens {
    font-size: 2rem;
  }
  @include desktop-screens {
    font-size: 2.5rem;
  }
}

.aboutBody {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  max-width: 23ch;
  color: $text-white;
  font-family: $paragraph-font;
  line-height: 1.6rem;
  font-size: 0.94rem;
  font-weight: regular;
  z-index: 1;

  @include tablet-screens {
    font-size: 1.2em;
    line-height: 1.6em;
    margin-bottom: 2rem;
  }

  @include desktop-screens {
    font-size: 1.2em;
    line-height: 2em;
  }
}
