@import "utilities/variables.module";
@import "utilities/mixins.module";

.container {
  display: grid;
  justify-content: left;
  justify-items: left;
  align-content: center;
  max-width: 30rem;
  margin: 0 auto;
  padding: 0;
  background-color: $bg-primary;
  overflow: hidden;

  @include tablet-screens {
    //grid-template-columns: minmax(5rem, 70%);
    max-width: 40rem;
  }

  @include desktop-screens {
    grid-template-columns: repeat(3, 28rem);
    grid-gap: 5rem;
    max-width: 80%;
    justify-content: center;
  }
}

.title {
  position: relative;
  padding: 3rem 0 1.625rem 0;
  margin: 0;
  background: $bg-primary;
  color: white;
  font-size: 3em;
  font-family: inherit;
  letter-spacing: -0.06rem;
  text-transform: uppercase;
  z-index: 2;

  @include tablet-screens {
    padding: 4rem 0 1.625rem 0;
    font-size: 5em;
  }

  @include desktop-screens {
    margin: 0 0 0 5%;
    padding: 10rem 0 10rem 0;
    font-size: 7em;

    &::after {
      content: "";
      position: absolute;
      background-color: $text-white;
      width: 75%;
      height: 9px;
      top: 50%;
      left: 22%;
      z-index: -1;
    }
  }
}

.asideContainer {
  &:nth-of-type(1) {
    h2 {
      color: $contrast-blue;
      &::after {
        content: "";
        position: absolute;
        background-color: $contrast-blue;
        height: 9px;
        width: 13.5rem;
        top: 37px;
        left: 0.8rem;
        z-index: -1;

        @include tablet-screens {
          height: 15px;
          width: 22.5rem;
          top: 52px;
        }
      }
    }
  }

  &:nth-of-type(2) {
    h2 {
      color: $contrast-red;
      &::after {
        content: "";
        position: absolute;
        background-color: $contrast-red;
        height: 9px;
        width: 13rem;
        top: 37px;
        left: 0.8rem;
        z-index: -1;

        @include tablet-screens {
          height: 15px;
          width: 22rem;
          top: 52px;
        }
      }
    }
  }

  &:nth-of-type(3) {
    h2 {
      color: $contrast-yellow;
      &::after {
        content: "";
        position: absolute;
        background-color: $contrast-yellow;
        height: 9px;
        width: 16rem;
        top: 37px;
        left: 0.8rem;
        z-index: -1;

        @include tablet-screens {
          height: 15px;
          width: 26.5rem;
          top: 52px;
        }
      }
    }
  }
}

.aboutHeader {
  position: relative;
  padding: 1rem;
  margin: 0;
  margin-top: 0.5rem;
  text-align: left;
  font-family: $header-font;
  text-transform: uppercase;
  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    height: 9px;
    width: 100%;
    top: 32px;
    left: -3%;
    z-index: -1;
  }

  @include tablet-screens {
    font-size: 2.5em;
  }
}

.aboutBodyPrimary,
.aboutBodySecondary,
.aboutBodyTertiary {
  position: relative;
  padding: 1rem;
  margin: 1rem;
  color: $text-white;
  font-family: $paragraph-font;
  line-height: 1.4rem;
  font-size: 0.94rem;
  font-weight: regular;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: -1rem;
    left: -1%;
    background-color: $bg-secondary;
    width: calc(100% - 5rem);
    height: 95%;
    z-index: -1;
  }

  @include tablet-screens {
    font-size: 1.2em;
    line-height: 1.6em;
    padding: 1.5rem;
  }

  @include desktop-screens {
    font-size: 1.2em;
    line-height: 2em;
  }
}
