.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1.75rem;
  margin: 0 15%;
  padding: 1rem 0;
  position: sticky;
  top: 2rem;
}

.background {
  background: url(../public/Frame.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
