@import "utilities/variables.module";
@import "utilities/mixins.module";

.wrapperSm {
  display: grid;
  grid-template-rows: 8.5rem min-content 1.6rem 1fr min-content;
  align-items: center;

  background: $card-bg;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  line-height: 0.8;
  -webkit-box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);

  @include tablet-screens {
    grid-template-rows: 12rem min-content 1.6rem 1fr min-content;
  }

  @include desktop-screens {
    grid-template-rows: 12rem min-content 1.6rem 1fr min-content;
  }
}

.imgPh {
  background: $img-bg;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.projectImg {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  opacity: 0.8;
}

.title {
  font-family: $header-font;
  align-self: start;
  font-size: 1.5rem;
  margin-bottom: 0;
  letter-spacing: 0.02em;
  line-height: 1.6rem;
}

.desc {
  font-family: $paragraph-font;
  line-height: 1.4rem;
  font-size: 1.1em;
}

.linksContainer {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, min-content);
  grid-gap: 1rem;
  text-align: center;
}

.link {
  align-self: center;
  text-decoration: none;
  text-align: center;
  font-family: $paragraph-font;
  font-weight: bold;
  color: $text-secondary;
  border: 2px solid $text-secondary;
  border-radius: 4px;
  padding: 0.8rem 0.7rem;

  &:hover {
    background-color: $text-secondary;
    color: $text-white;
  }
}
