@import "utilities/variables.module";
@import "utilities/mixins.module";
@import "utilities/classes.module";

.container {
  display: grid;
  justify-content: center;
  grid-template-rows: minmax(min-content, max-content);
  max-width: 30rem;
  background-color: $bg-primary;

  @include tablet-screens {
    // grid-template-columns: minmax(5rem, 70%);
    max-width: 100%;
    justify-content: center;
  }

  @include desktop-screens {
    max-width: 50%;
    justify-content: center;
    margin: 0 auto;
  }
}

.title {
  position: relative;
  padding: 3rem 0 1.625rem 0;
  margin: 0;
  margin-bottom: 4rem;
  background: $bg-primary;
  color: white;
  font-size: 3em;
  font-family: inherit;
  letter-spacing: -0.06rem;
  text-transform: uppercase;
  z-index: 2;

  @include tablet-screens {
    padding: 4rem 0 1.625rem 0;
    font-size: 5em;
  }

  @include desktop-screens {
    margin: 0 0 0 5%;
    padding: 10rem 0 10rem 0;
    font-size: 7em;

    &::after {
      content: "";
      position: absolute;
      background-color: $text-white;
      width: 70rem;
      height: 9px;
      top: 50%;
      left: 30%;
      z-index: -1;
    }
  }
}

.header {
  color: $text-white;
  font-family: $header-font;
  text-transform: uppercase;

  @include tablet-screens {
    font-size: 2.5em;
  }
}

.subHead {
  margin: 0;
  margin-top: 4rem;
  color: $contrast-yellow;
  font-family: $subtext-font;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  line-height: 0.9;
  letter-spacing: -0.05em;
  max-width: 9ch;

  @include tablet-screens {
    font-size: 2.5em;
  }
  @include desktop-screens {
    margin-top: 10rem;
    font-size: 4em;
  }
}

.body {
  text-align: start;
  color: $text-white;
  font-family: $paragraph-font;
  line-height: 1.6rem;
  font-size: 0.94rem;
  max-width: 17ch;
  padding: 0 0 1.5rem 0;

  @include tablet-screens {
    font-size: 1.2em;
    line-height: 1.6em;
    max-width: 20ch;
  }

  @include desktop-screens {
    max-width: 35ch;
    padding: 0 0 2rem 0;
    font-size: 1.2em;
    line-height: 2em;
  }
}

.form {
  display: grid;
  grid-gap: 0.5rem;
  margin-bottom: 2rem;

  label {
    display: none;
  }

  input {
    height: 1.5rem;
    font-family: $paragraph-font;
    background-color: $text-white;

    border: 2px solid black;
    padding: 0.2em 0.6em;
    box-shadow: -3px 3px 0px 0px $contrast-yellow;
  }

  textarea {
    height: 4.5rem;
    font-family: $paragraph-font;
    resize: none;
    background-color: $text-white;
    border: 2px solid black;
    padding: 0.2em 0.6em;
    box-shadow: -3px 3px 0px 0px $contrast-yellow;

    @include desktop-screens {
      height: 6rem;
    }
  }

  @include tablet-screens {
    max-width: 100%;
  }
  @include desktop-screens {
    max-width: 35rem;
  }
}

.btn {
  border: 2px solid black;
  background-color: $contrast-yellow;
  text-transform: uppercase;
  font-family: $paragraph-font;
  font-size: 0.9em;
  letter-spacing: -0.005em;
  padding: 0.5rem 1rem;
  margin: 0;
  max-width: 5rem;
  max-height: 2.3rem;
  justify-self: right;
  box-shadow: -3px 3px 0px 0px $text-white;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $text-white;
    box-shadow: -3px 3px 0px 0px $contrast-yellow;
  }
}

.btnSuccess {
  border: 2px solid black;
  background-color: $success-green;
  text-transform: uppercase;
  font-family: $paragraph-font;
  font-size: 0.9em;
  letter-spacing: -0.005em;
  padding: 0.5rem 1rem;
  margin: 0;
  max-width: 5rem;
  max-height: 2.3rem;
  justify-self: right;
  box-shadow: -3px 3px 0px 0px $text-white;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }

  &:hover,
  &:focus {
    background-color: $success-green;
    box-shadow: -3px 3px 0px 0px $contrast-yellow;
  }
}

.btnError {
  border: 2px solid black;
  background-color: $error-red;
  text-transform: uppercase;
  font-family: $paragraph-font;
  font-size: 0.9em;
  letter-spacing: -0.005em;
  padding: 0.5rem 1rem;
  margin: 0;
  max-width: 5rem;
  max-height: 2.3rem;
  justify-self: right;
  box-shadow: -3px 3px 0px 0px $text-white;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }

  &:hover,
  &:focus {
    background-color: $error-red;
    box-shadow: -3px 3px 0px 0px $contrast-yellow;
  }
}
