@import "utilities/variables.module";
@import "utilities/mixins.module";

.container {
  display: grid;
  grid-template-rows: min-content auto min-content;
  background: $bg-primary;
  margin: 0;
  padding: 0;
  height: 100vh;
  max-height: 100vh;
  //width: 100%;

  h1 {
    font-weight: 900;
  }
}

.firstname {
  padding: 0;
  margin: 0;
  color: $text-white;
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: $header-spacing;

  @include tablet-screens {
    font-size: 9.5em;
  }
}

.imgContainer {
  display: grid;
  grid-template-rows: 80% 20%;

  @include tablet-screens {
    grid-template-rows: auto min-content;

    .canvasContainer {
      height: 0;
    }

    canvas {
      position: absolute;
      top: 0;
      left: 0;
    }

    .imgRight {
      height: 250px;
      width: 250px;
      align-self: end;
    }
  }
}

.canvasContainer {
  width: auto;
  height: auto;
}

// .imgLeft {
//   height: 100%;
//   width: 150px;
//   background-color: $img-bg;
// }
.imgRight {
  height: 100%;
  width: 150px;
  background-color: $img-bg;
  justify-self: left;
}

.lastname {
  padding: 0;
  margin: 0;
  color: $text-white;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: $header-spacing;
  justify-self: right;

  @include tablet-screens {
    font-size: 10em;
  }
}
