@import "utilities/variables.module";
@import "utilities/mixins.module";

.container {
  display: grid;
  grid-template-rows: min-content auto min-content;
  background: $bg-primary;
  margin: 0;
  padding: 0;
  height: 100vh;
  max-height: 100vh;
  //width: 100%;

  h1 {
    font-weight: 900;
  }
}

.firstname {
  padding: 0;
  margin: 0;
  color: $text-white;
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: $header-spacing;

  @include tablet-screens {
    font-size: 9.5em;
  }

  @include desktop-screens {
    margin: 0 0 0 15rem;
  }
}

.imgContainer {
  display: grid;

  @include tablet-screens {
    canvas {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
}

.canvasContainer {
  width: auto;
  height: auto;

  @include tablet-screens {
    height: 0;
  }
}

.imgRight {
  position: relative;
  height: 125px;
  width: 100px;
  background-color: $img-bg;
  justify-self: left;
  // border-radius: 50%;

  @include tablet-screens {
    height: 200px;
    width: 150px;
    // margin-left: 2rem;
  }

  @include desktop-screens {
    margin: 0 0 0 15rem;
    height: 250px;
    width: 200px;
  }
}

.img {
  filter: grayscale(100%);
  // border-radius: 50%;
}

.lastname {
  padding: 0;
  margin: 0;
  color: $text-white;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: $header-spacing;
  justify-self: right;

  @include tablet-screens {
    font-size: 10em;
  }

  @include desktop-screens {
    margin: 0 15rem 0 0;
  }
}
