@import "utilities/variables.module";
@import "utilities/mixins.module";

.container {
  position: relative;
  background: $bg-primary;
  z-index: 1;
}

.title {
  position: relative;
  padding: 3rem 0 1.625rem 0;
  margin: 0;
  background: $bg-primary;
  color: white;
  font-size: 3em;
  font-family: inherit;
  letter-spacing: -0.06rem;
  text-transform: uppercase;
  z-index: 2;

  @include tablet-screens {
    padding: 4rem 0 1.625rem 0;
    font-size: 5em;
  }

  @include desktop-screens {
    margin: 0 0 0 5%;
    padding: 10rem 0 4rem 0;
    font-size: 7em;

    &::after {
      content: "";
      position: absolute;
      background-color: $text-white;
      width: 77%;
      height: 9px;
      top: 62%;
      left: 20%;
      z-index: -1;
    }
  }
}

.inactive {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(10%, max-content));
  grid-gap: 0.5rem;
  justify-items: center;
  height: 75vh;
  max-width: 25rem;
  padding: 0 1rem 1rem 1rem;
  margin: 0 auto;

  .imgContainer {
    background-color: $img-bg;
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-end: end;

    @include desktop-screens {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 4;
    }
  }

  @include tablet-screens {
    max-width: 60rem;
  }

  @include desktop-screens {
    max-width: 80%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

.active {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  justify-items: center;
  height: 75vh;
  max-width: 35rem;
  padding: 0 1rem 1rem 1rem;
  margin: 0 auto;

  .imgContainer {
    background-color: $img-bg;
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;

    @include desktop-screens {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 4;
    }
  }

  @include tablet-screens {
    max-width: 60rem;
  }

  @include desktop-screens {
    max-width: 80%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}
