@import "utilities/variables.module";

.title {
  position: relative;
  font-size: 0.9rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;

  &::after {
    content: "";
    position: absolute;
    height: 7px;
    width: calc(100% + 6px);
    top: 9px;
    left: -3%;
    background: #ff4960;
    z-index: -1;
  }
}

.inactive {
  p {
    display: none;
    z-index: 999;
  }
}

.active {
  p {
    display: inherit;
  }
}
