@import "utilities/variables.module";
@import "utilities/mixins.module";

.container {
  display: grid;
  justify-content: center;
  padding: 0 0 2rem 0;
  margin: 0 auto;
  max-width: 30rem;
  background-color: $bg-primary;

  @include tablet-screens {
    grid-template-columns: minmax(5rem, 70%);
  }

  @include desktop-screens {
    max-width: 50rem;
  }
}

.title {
  position: relative;
  padding: 3rem 0 1.625rem 0;
  margin: 0;
  background: $bg-primary;
  color: white;
  font-size: 3em;
  font-family: inherit;
  letter-spacing: -0.06rem;
  text-transform: uppercase;
  z-index: 2;

  @include tablet-screens {
    padding: 4rem 0 1.625rem 0;
    font-size: 5em;
  }

  @include desktop-screens {
    margin: 0 0 0 5%;
    padding: 10rem 0 10rem 0;
    font-size: 7em;

    &::after {
      content: "";
      position: absolute;
      background-color: $text-white;
      width: 59%;
      height: 9px;
      top: 50%;
      left: 38%;
      z-index: -1;
    }
  }
}

.header {
  color: $text-white;
  font-family: $header-font;
  text-transform: uppercase;

  @include tablet-screens {
    font-size: 2.5em;
  }
}

.body {
  text-align: start;
  color: $text-white;
  font-family: $paragraph-font;
  line-height: 1.6rem;
  font-size: 0.94rem;
  max-width: 12rem;
  padding: 0 0 1.5rem 0;

  @include tablet-screens {
    font-size: 1.2em;
    line-height: 1.4em;
  }

  @include desktop-screens {
    max-width: 70%;
    padding: 0 0 2rem 0;
  }
}

.link {
  text-decoration: none;
  text-align: center;
  font-family: $paragraph-font;
  font-weight: bold;
  font-size: 0.9em;
  color: $contrast-yellow;
  border: 2px solid $contrast-yellow;
  padding: 0.6rem 0.5rem;
  width: 4rem;
  //box-shadow: -5px 5px 0px -1px $contrast-red;

  &:hover {
    background-color: $text-white;
    color: $text-secondary;
    transform: translateX(3px);
    transform: translateY(3px);
  }
}
