@import "utilities/variables.module";
@import "utilities/mixins.module";

.container {
  display: grid;
  justify-items: left;
  margin: 0 auto;
  max-width: 30rem;
  background-color: $bg-primary;

  @include tablet-screens {
    grid-template-columns: minmax(5rem, 70%);
  }

  @include desktop-screens {
    grid-template-columns: minmax(2rem, 40%);
  }
}

.title {
  position: relative;
  padding: 3rem 0 1.625rem 0;
  margin: 0;
  background: $bg-primary;
  color: white;
  font-size: 3em;
  font-family: inherit;
  letter-spacing: -0.06rem;
  text-transform: uppercase;
  z-index: 2;

  @include tablet-screens {
    padding: 4rem 0 1.625rem 0;
    font-size: 5em;
  }

  @include desktop-screens {
    margin: 0 0 0 5%;
    padding: 10rem 0 10rem 0;
    font-size: 7em;

    &::after {
      content: "";
      position: absolute;
      background-color: $text-white;
      width: 59%;
      height: 9px;
      top: 50%;
      left: 38%;
      z-index: -1;
    }
  }
}

.header {
  color: $text-white;
  font-family: $header-font;
  text-transform: uppercase;

  @include tablet-screens {
    font-size: 2.5em;
  }
}

.body {
  text-align: start;
  color: $text-white;
  font-family: $paragraph-font;
  line-height: 1.6rem;
  font-size: 0.94rem;

  @include tablet-screens {
    font-size: 1.2em;
    line-height: 1.4em;
  }
}

.link {
  text-decoration: none;
  text-align: center;
  font-family: $paragraph-font;
  font-weight: bold;
  color: $text-white;
  border: 2px solid $text-white;
  border-radius: 4px;
  padding: 0.6rem 0.5rem;

  &:hover {
    background-color: $text-white;
    color: $text-secondary;
  }
}
