@import "utilities/variables.module";
@import "utilities/mixins.module";
@import "utilities/classes.module";

.container {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 4rem;
  margin-left: 0.5rem;

  @include tablet-screens {
    margin-top: 8rem;
    margin-bottom: 6rem;
    margin-left: 1.5rem;
  }
  @include desktop-screens {
    margin-top: 15rem;
    margin-bottom: 10rem;
    margin-left: 5rem;
  }
}

.title {
  position: relative;
  margin: 0;
  background: $bg-primary;
  color: $text-white;
  font-size: 3em;
  font-family: inherit;
  letter-spacing: -0.06rem;
  text-transform: uppercase;
  z-index: 2;

  @include tablet-screens {
    padding: 0;
    margin: 0;
    font-size: 5em;
  }

  @include desktop-screens {
    margin: 0;
    padding: 0;
    font-size: 7em;
  }
}

// .line {
//   width: 100%;
// }
