@import "utilities/variables.module";
@import "utilities/mixins.module";

.tech {
  width: 25px;
  height: 25px;
  padding: 0.4rem;
  stroke: $contrast-red;

  @include tablet-screens {
    width: 35px;
    height: 35px;
  }
  @include desktop-screens {
    width: 45px;
    height: 45px;
  }
}
