@import "utilities/variables.module";
@import "utilities/mixins.module";

.container {
  margin: 0;
  padding: 2rem 0;
  background: url(../public/tech-stack-bg.svg) center;
  background-size: cover;
  overflow: hidden;
  h2 {
    padding-bottom: 1rem;
    margin: 0 2rem;
    text-align: center;
    color: $text-white;
    font-family: $header-font;
  }
}

.list {
  display: grid;
  grid-template-rows: repeat(auto-fill, 60px);
  grid-template-columns: repeat(2, 7rem);
  justify-content: center;
  justify-items: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 1rem;

  @include tablet-screens {
    grid-template-rows: repeat(auto-fill, 80px);
    grid-template-columns: repeat(2, 20rem);
  }

  @include desktop-screens {
    grid-template-rows: repeat(auto-fill, 100px);
    grid-template-columns: repeat(2, 20rem);
    padding: 3rem;
  }

  li {
    display: grid;
    align-items: center;
    padding: 0.3rem;
  }
}
