@import "utilities/variables.module";

html {
  height: 100%;
}

body {
  min-height: 100%;
}

html,
body {
  font-family: roboto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $bg-primary;
}
